<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<head>
 <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="content-container">
  <div class="topnav">
    <a href="/">HOME</a>
    <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
            <a href="/species">SPECIES LIST</a>
            <a href="/report_sighting">REPORT SIGHTING</a>
            <a href="/sighting">SIGHTING LIST</a>
        </div>
    </div>
    <div class="right-links">
      {% if current_user.is_authenticated %}
        <a href="/logout">LOGOUT</a>
        <a href="/profile">PROFILE</a>
      {% else %}
        <a href="/register">REGISTER</a>
        <a href="/login">LOGIN</a>
      {% endif %}
      
    </div>
  </div>
  

  {% block content %}
  {% endblock %}

  <footer>
    <p>Any Suggestions? Provide us with feedback
    <a href="/feedback">Here</a>
  </footer> 

</div>

</body>
</html>