{% extends "base.html" %}

{% block content %}
    <header>
        <h1 class="faq-head">Frequently Asked Questions</h1>
        <p>Find answers to common questions below.</p>
    </header>

    <section>
        <article>
            <h2>What should I register as?</h2>
            <p class="faq-answer">If you're a teacher or a student and you've recieved instructions from your school then you should join as a student or teacher. In all other cases use the regular registration function.</p>
        </article>

        <article>
            <h2>How can I contact customer support?</h2>
            <p class="faq-answer">You can contact our customer support team by emailing support@example.com or calling our toll-free number: 1-800-123-4567.</p>
        </article>


    </section>

    <style>
        .faq-head {
            font-family: 'Serif', sans-serif;
            font-size: 36px;
            color: rgb(80, 30, 180); /* Adjust to your preferred color */
        }

        .faq-answer {
            color: #333;
        }
    </style>
{% endblock %}