{% extends "base.html" %}

{% block content %}
    <header>
        <h1 class="species-head">Indonesian Species Fun Facts</h1>
        <p>Discover interesting facts about Indonesian wildlife</p>
    </header>

    <section>
        <article>
            <h2 class="species-title">Komodo Dragon</h2>
            <p class="species-fact">
                The Komodo Dragon is the largest living species of lizard, known for its deadly venom and powerful bite.
            </p>
        </article>

        <article>
            <h2 class="species-title">Sumatran Tiger</h2>
            <p class="species-fact">
                The Sumatran Tiger is the smallest surviving tiger subspecies, native to the Indonesian island of Sumatra.
            </p>
        </article>

        <article>
            <h2 class="species-title">Komodo Dragon</h2>
            <p class="species-fact">
                The Komodo Dragon is the largest living species of lizard, known for its deadly venom and powerful bite.
            </p>
        </article>

        <article>
            <h2 class="species-title">Komodo Dragon</h2>
            <p class="species-fact">
                The Komodo Dragon is the largest living species of lizard, known for its deadly venom and powerful bite.
            </p>
        </article>


    </section>

    <style>
        .species-head {
            font-family: 'Serif', sans-serif;
            font-size: 36px;
            color: rgb(3, 111, 44);
        }

        .species-title {
            font-size: 24px;
            color: #0074b2; /* Title color */
        }

        .species-fact {
            font-style: italic;
            color: #555; /* Fact text color */
        }
    </style>
{% endblock %}
