<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komodo Hub</title>
</head>
<body>
    <h1>Log in</h1>
    <form action="app.py" method="post">
          <label for="username">Enter your username: </label><br>
          <input type="text" name="name" id="username" required /><br>

          <label for="email">Enter your password: </label><br>
          <input type="password" name="password" id="password" required /><br>
          
          <input type="submit" value="log in!" />
        </div>
      </form>
</body>
</html>