{% extends "layout.html" %}


{% block content %}

    <h2>Password Reset</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}
            {{ form.email(size=30) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% endblock %}

