{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<h2>Student Registration</h2>
<form method="post" action="{{ url_for('register_student') }}">
    <label for="username">Username:</label>
    <input type="text" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" required><br>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name"><br>
    <label for="school_id">School ID:</label>
    <input type="text" name="school_id" required><br>  <!-- Assuming you have a way to select a school during student registration -->
    <label for="class_id">Class ID:</label>
    <input type="text" name="class_id" required><br>  <!-- Assuming you have a way to select a teacher during student registration -->
    <input type="submit" value="Register">
</form>

{% endblock %}