{% extends "layout.html" %}

{% block content %}
<div class="species-list">
    <h2>List of Species</h2>
    
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Species</th>
                <th>Area</th>
                <th>Status</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
            {% if species %}
            {% for spec in species %}
                <tr>
                    <td>{{ spec[0] }}</td>
                    <td>{{ spec[1] }}</td>                    
                    <td>{{ spec[2] }}</td>
                    <td>{{ spec[3] }}</td>
                    <td>{{ spec[4] }}</td>                    
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">No species available.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>


<style>
    body {
        background-color: #f2cea0;
    }
    
    .species-list {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    h2 {
        color: rgb(3, 111, 44);
        font-family: serif;
        font-size: 24px;
    }

    table {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        border: 1px solid #ccc;
    }

    th {
        background-color: #007BFF;
        color: #fff;
    }
</style>
{% endblock %}