{% extends "base.html" %}

{% block content %}

    <h1>Student Dashboard</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; border: 1px solid black; padding: 8px;">Student ID</th>
                <th style="text-align: center; border: 1px solid black; padding: 8px;">Student Name</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td style="text-align: center; border: 1px solid black; padding: 8px;">{{ student[0] }}</td>
                    <td style="text-align: center; border: 1px solid black; padding: 8px;">{{ student[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}